/*
#
#
# Projeto Chat PHP 
# By: Pedro Pessoa
# Data de início: 16/05/2020
# github: github.com/yzPeedro/
#
#
#
*/

/*############ Estilo das formações ############*/
.divWelcome{
	background-color: #2a2a2b;
	text-align: center;
	padding: 10px;
	margin-left: 30px;
	margin-top: 100px;
	width: 430px;
	box-shadow: 5px 10px 10px;
}


.logos{
	width: 15%;
	width: 20%;
	border: 1px solid black;
	border-radius: 360px;
	margin-right: 560px;
	margin-top: 50px;
	animation-name: mudarcorvoltando;
  	animation-duration: 2s;
}

.logos:hover{
	width: 15%;
	width: 20%;
	border: 1px solid white;
	border-radius: 360px;
	margin-right: 560px;
	margin-top: 50px;
	animation-name: mudarcorindo;
  	animation-duration: 2s;
}

/* Animação logo indo*/
@keyframes mudarcorindo {
  from {border-color: black;}
  to {border-color: white;}
}

/* Animação logo voltando */
@keyframes mudarcorvoltando {
  from {border-color: white;}
  to {border-color: black;}
}


#TituloPrincipal{
	color: #899dd9;
}

.TextosAparte{
	font-family: Arial;
	color: white;
}

/*############ Estilo do chat ############*/

.chat{
	border-radius: 5px;
	padding: 20px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 5px 10px 10px;
	margin-top: 100px;
	height: 410px;
	overflow-y: auto;
	background-color: #2a2a2b;
}

.formulariomsg{
	text-align: right;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
	background-color: #2a2a2b;
	box-shadow: 5px 10px 10px;
}

.mensagem{
	border: 1px solid black;
	border-radius: 5px;
	resize: none;
	width: 100%;
	height: 50px;
	overflow: auto;
}

.botaoEnviar{
	background-color: #899dd9;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 3px;
	font-family: Helvetica;
	text-align: center;
}

.nome{
	padding: 7px;
	background-color: #322c36;
	border-radius: 8px;
	margin-bottom: -6px;
	border: 1px solid black;
	color: white;
}

.textomensagem{
	padding: 7px;
	background-color: white;
	border-radius: 10px;
	color: black;
	border: 1px solid black;
}

.digitarnome{
	border: 1px solid black;
	border-radius: 10px;
	padding: 4px;
}